* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choice:hover {
  background-color: #081b31;
  cursor: pointer;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: larger;
  margin-top: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container {
  margin-top: 4rem;
}
#msg {
  font-size: 2rem;
  background-color: #081b31;
  padding: 15px;
  display: inline;
  color: whitesmoke;
  border-radius: 1rem;
}
